<div id="mainDiv">
    <h1 Phone Book></h1>
    <h3 Contacts></h3>
    <button (click)="display()" class="btn-btn-primary" id="addContact"+Add Button></button>
    <br/><br/>
  
  
    <div id="contactinfo" *ngIf="isDisplay">
      <input #x1 id="f" type="text" placeholder="Enter Firstname"><br/>
      <input #x2 id="l" type="text" placeholder="Enter Lastname"><br/>
      <input #x3 id="p" type="text" placeholder="Enter phone number"><br/>
      
  
      <button (click)="createContact(x1.value, x2.value, x3.value)" class="btn btn-primary">Create</button>
      <button class="btn btn-danger" (click)="display()">Cancel</button><br/>
    </div>
  
    <table><tr>
       <td>
         <input #search id="searchBar" type="text" placeholder="search for contact by last name">
       </td>
       <td>
         <button id="searchbtn" (click)="searchLastName(searcg.value)"class="glyphicon glyphicon-search">Search</button>
       </td>
    </tr>
    </table>
  
  
    <div id="contactinfo" *ngIf="isDisplay1">
      <p>
        {{contact.firstname}} {{contact.lastname}} <br/>
        {{contact.phone}}
      </p>
    </div>
  
    <section class="border" id="contactInfo">
      <p *ngFor="let c of contacts">
        {{c.firstname}} {{c.lastname}}
        <br/>
        {{c.phone}}
  
  
        <button (click)="updateContact(c.firstname, c.lastname, update.value)" id="updatebtn" class="btn btn-btn-primary">Update</button>
        <button (click)="deleteContact(c,phone)" id="deletebtn" class="btn-btn-danger">Delete</button>
      </p>
    </section>
  </div>